# Configuration file

##########################################################################################################
# additional
#--------------------------------------------------------------------------------------------------------#
# Here you can control the miscellaneous features of each mob.
##########################################################################################################

additional {
    # A custom scale to apply to the mob's hitbox, note that large hitboxes can affect pathing and hitboxes can't be smaller than half a block.
    D:"Arisaur Hitbox Scale"=1.0

    # A custom scale to apply to the mob's actual size, the hitbox will also scale to match and will then scale again if a custom hitbox scale is set.
    D:"Arisaur Size Scale"=1.0
    D:"Calpod Hitbox Scale"=1.0
    D:"Calpod Size Scale"=1.0
    D:"Ent Hitbox Scale"=1.0
    D:"Ent Size Scale"=1.0

    # A custom scale to apply to the mob's hitbox, note that large hitboxes can affect pathing and hitboxes can't be smaller than half a block.
    D:"Shambler Hitbox Scale"=1.0

    # A custom scale to apply to the mob's actual size, the hitbox will also scale to match and will then scale again if a custom hitbox scale is set.
    D:"Shambler Size Scale"=1.0
    D:"Spriggan Hitbox Scale"=1.0
    D:"Spriggan Size Scale"=1.0

    # A custom scale to apply to the mob's hitbox, note that large hitboxes can affect pathing and hitboxes can't be smaller than half a block.
    D:"Treant Hitbox Scale"=1.0

    # A custom scale to apply to the mob's actual size, the hitbox will also scale to match and will then scale again if a custom hitbox scale is set.
    D:"Treant Size Scale"=1.0
    D:"Trent Hitbox Scale"=1.0
    D:"Trent Size Scale"=1.0

    # A custom scale to apply to the mob's hitbox, note that large hitboxes can affect pathing and hitboxes can't be smaller than half a block.
    D:"Warg Hitbox Scale"=1.0

    # A custom scale to apply to the mob's actual size, the hitbox will also scale to match and will then scale again if a custom hitbox scale is set.
    D:"Warg Size Scale"=1.0
}


##########################################################################################################
# boosts
#--------------------------------------------------------------------------------------------------------#
# Here you can increase or decrease each stat by a specific amount. (Use a negative number to decrease.)
##########################################################################################################

boosts {
    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Arisaur Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Arisaur Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Arisaur Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Arisaur Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Arisaur Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Arisaur Pierce"=0

    # Movement speed. Average speed is 28
    I:"Arisaur Speed"=0
    I:"Calpod Damage"=0
    I:"Calpod Defense"=0
    I:"Calpod Effect"=0
    I:"Calpod Haste"=0
    I:"Calpod Health"=0
    I:"Calpod Pierce"=0
    I:"Calpod Speed"=0
    I:"Ent Damage"=0
    I:"Ent Defense"=0
    I:"Ent Effect"=0
    I:"Ent Haste"=0
    I:"Ent Health"=0
    I:"Ent Pierce"=0
    I:"Ent Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Shambler Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Shambler Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Shambler Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Shambler Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Shambler Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Shambler Pierce"=0

    # Movement speed. Average speed is 28
    I:"Shambler Speed"=0
    I:"Spriggan Damage"=0
    I:"Spriggan Defense"=0
    I:"Spriggan Effect"=0
    I:"Spriggan Haste"=0
    I:"Spriggan Health"=0
    I:"Spriggan Pierce"=0
    I:"Spriggan Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Treant Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Treant Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Treant Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Treant Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Treant Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Treant Pierce"=0

    # Movement speed. Average speed is 28
    I:"Treant Speed"=0
    I:"Trent Damage"=0
    I:"Trent Defense"=0
    I:"Trent Effect"=0
    I:"Trent Haste"=0
    I:"Trent Health"=0
    I:"Trent Pierce"=0
    I:"Trent Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Warg Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Warg Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Warg Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Warg Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Warg Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Warg Pierce"=0

    # Movement speed. Average speed is 28
    I:"Warg Speed"=0
}


##########################################################################################################
# multipliers
#--------------------------------------------------------------------------------------------------------#
# Here you can scale each mob stat,for INSTANCE setting 2 will double the stat, setting 0.5 will half it.
##########################################################################################################

multipliers {
    # Damage dealt, both melee and ranged.
    D:"Arisaur Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Arisaur Defense"=1.0

    # Effect strengths and durations.
    D:"Arisaur Effect"=1.0

    # Attack and ability speeds.
    D:"Arisaur Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Arisaur Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Arisaur Pierce"=1.0

    # Movement speed.
    D:"Arisaur Speed"=1.0
    D:"Calpod Damage"=1.0
    D:"Calpod Defense"=1.0
    D:"Calpod Effect"=1.0
    D:"Calpod Haste"=1.0
    D:"Calpod Health"=1.0
    D:"Calpod Pierce"=1.0
    D:"Calpod Speed"=1.0
    D:"Ent Damage"=1.0
    D:"Ent Defense"=1.0
    D:"Ent Effect"=1.0
    D:"Ent Haste"=1.0
    D:"Ent Health"=0.5
    D:"Ent Pierce"=1.0
    D:"Ent Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Shambler Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Shambler Defense"=1.0

    # Effect strengths and durations.
    D:"Shambler Effect"=1.0

    # Attack and ability speeds.
    D:"Shambler Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Shambler Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Shambler Pierce"=1.0

    # Movement speed.
    D:"Shambler Speed"=1.0
    D:"Spriggan Damage"=1.0
    D:"Spriggan Defense"=1.0
    D:"Spriggan Effect"=1.0
    D:"Spriggan Haste"=1.0
    D:"Spriggan Health"=1.0
    D:"Spriggan Pierce"=1.0
    D:"Spriggan Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Treant Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Treant Defense"=1.0

    # Effect strengths and durations.
    D:"Treant Effect"=1.0

    # Attack and ability speeds.
    D:"Treant Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Treant Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Treant Pierce"=1.0

    # Movement speed.
    D:"Treant Speed"=1.0
    D:"Trent Damage"=1.0
    D:"Trent Defense"=1.0
    D:"Trent Effect"=1.0
    D:"Trent Haste"=1.0
    D:"Trent Health"=1.0
    D:"Trent Pierce"=1.0
    D:"Trent Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Warg Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Warg Defense"=1.0

    # Effect strengths and durations.
    D:"Warg Effect"=1.0

    # Attack and ability speeds.
    D:"Warg Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Warg Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Warg Pierce"=1.0

    # Movement speed.
    D:"Warg Speed"=1.0
}


