# Configuration file

##########################################################################################################
# additional
#--------------------------------------------------------------------------------------------------------#
# Here you can control the miscellaneous features of each mob.
##########################################################################################################

additional {
    # A custom scale to apply to the mob's hitbox, note that large hitboxes can affect pathing and hitboxes can't be smaller than half a block.
    D:"Abaia Hitbox Scale"=1.0

    # A custom scale to apply to the mob's actual size, the hitbox will also scale to match and will then scale again if a custom hitbox scale is set.
    D:"Abaia Size Scale"=1.0

    # A custom scale to apply to the mob's hitbox, note that large hitboxes can affect pathing and hitboxes can't be smaller than half a block.
    D:"Ioray Hitbox Scale"=1.0

    # A custom scale to apply to the mob's actual size, the hitbox will also scale to match and will then scale again if a custom hitbox scale is set.
    D:"Ioray Size Scale"=1.0

    # A custom scale to apply to the mob's hitbox, note that large hitboxes can affect pathing and hitboxes can't be smaller than half a block.
    D:"Jengu Hitbox Scale"=1.0

    # A custom scale to apply to the mob's actual size, the hitbox will also scale to match and will then scale again if a custom hitbox scale is set.
    D:"Jengu Size Scale"=1.0

    # A custom scale to apply to the mob's hitbox, note that large hitboxes can affect pathing and hitboxes can't be smaller than half a block.
    D:"Silex Hitbox Scale"=1.0

    # A custom scale to apply to the mob's actual size, the hitbox will also scale to match and will then scale again if a custom hitbox scale is set.
    D:"Silex Size Scale"=1.0

    # A custom scale to apply to the mob's hitbox, note that large hitboxes can affect pathing and hitboxes can't be smaller than half a block.
    D:"Strider Hitbox Scale"=1.0

    # A custom scale to apply to the mob's actual size, the hitbox will also scale to match and will then scale again if a custom hitbox scale is set.
    D:"Strider Size Scale"=1.0

    # A custom scale to apply to the mob's hitbox, note that large hitboxes can affect pathing and hitboxes can't be smaller than half a block.
    D:"Thresher Hitbox Scale"=1.0

    # A custom scale to apply to the mob's actual size, the hitbox will also scale to match and will then scale again if a custom hitbox scale is set.
    D:"Thresher Size Scale"=1.0

    # A custom scale to apply to the mob's hitbox, note that large hitboxes can affect pathing and hitboxes can't be smaller than half a block.
    D:"Zephyr Hitbox Scale"=1.0

    # A custom scale to apply to the mob's actual size, the hitbox will also scale to match and will then scale again if a custom hitbox scale is set.
    D:"Zephyr Size Scale"=1.0
}


##########################################################################################################
# boosts
#--------------------------------------------------------------------------------------------------------#
# Here you can increase or decrease each stat by a specific amount. (Use a negative number to decrease.)
##########################################################################################################

boosts {
    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Abaia Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Abaia Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Abaia Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Abaia Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Abaia Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Abaia Pierce"=0

    # Movement speed. Average speed is 28
    I:"Abaia Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Ioray Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Ioray Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Ioray Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Ioray Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Ioray Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Ioray Pierce"=0

    # Movement speed. Average speed is 28
    I:"Ioray Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Jengu Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Jengu Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Jengu Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Jengu Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Jengu Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Jengu Pierce"=0

    # Movement speed. Average speed is 28
    I:"Jengu Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Silex Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Silex Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Silex Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Silex Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Silex Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Silex Pierce"=0

    # Movement speed. Average speed is 28
    I:"Silex Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Strider Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Strider Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Strider Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Strider Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Strider Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Strider Pierce"=0

    # Movement speed. Average speed is 28
    I:"Strider Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Thresher Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Thresher Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Thresher Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Thresher Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Thresher Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Thresher Pierce"=0

    # Movement speed. Average speed is 28
    I:"Thresher Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Zephyr Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Zephyr Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Zephyr Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Zephyr Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Zephyr Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Zephyr Pierce"=0

    # Movement speed. Average speed is 28
    I:"Zephyr Speed"=0
}


##########################################################################################################
# multipliers
#--------------------------------------------------------------------------------------------------------#
# Here you can scale each mob stat,for INSTANCE setting 2 will double the stat, setting 0.5 will half it.
##########################################################################################################

multipliers {
    # Damage dealt, both melee and ranged.
    D:"Abaia Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Abaia Defense"=1.0

    # Effect strengths and durations.
    D:"Abaia Effect"=1.0

    # Attack and ability speeds.
    D:"Abaia Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Abaia Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Abaia Pierce"=1.0

    # Movement speed.
    D:"Abaia Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Ioray Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Ioray Defense"=1.0

    # Effect strengths and durations.
    D:"Ioray Effect"=1.0

    # Attack and ability speeds.
    D:"Ioray Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Ioray Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Ioray Pierce"=1.0

    # Movement speed.
    D:"Ioray Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Jengu Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Jengu Defense"=1.0

    # Effect strengths and durations.
    D:"Jengu Effect"=1.0

    # Attack and ability speeds.
    D:"Jengu Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Jengu Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Jengu Pierce"=1.0

    # Movement speed.
    D:"Jengu Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Silex Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Silex Defense"=1.0

    # Effect strengths and durations.
    D:"Silex Effect"=1.0

    # Attack and ability speeds.
    D:"Silex Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Silex Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Silex Pierce"=1.0

    # Movement speed.
    D:"Silex Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Strider Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Strider Defense"=1.0

    # Effect strengths and durations.
    D:"Strider Effect"=1.0

    # Attack and ability speeds.
    D:"Strider Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Strider Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Strider Pierce"=1.0

    # Movement speed.
    D:"Strider Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Thresher Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Thresher Defense"=1.0

    # Effect strengths and durations.
    D:"Thresher Effect"=1.0

    # Attack and ability speeds.
    D:"Thresher Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Thresher Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Thresher Pierce"=1.0

    # Movement speed.
    D:"Thresher Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Zephyr Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Zephyr Defense"=1.0

    # Effect strengths and durations.
    D:"Zephyr Effect"=1.0

    # Attack and ability speeds.
    D:"Zephyr Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Zephyr Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Zephyr Pierce"=1.0

    # Movement speed.
    D:"Zephyr Speed"=1.0
}


